*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}



@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Tapestry&display=swap');

body{
	font-family: 'Russo One', sans-serif;
	font-weight: bolder;
}



.header{
	height: 80px;
	background-color: black;
	color: white;
	border-bottom: 5px solid rgb(44, 206, 117);
	width: 100%;
	position: fixed;
	font-size: 30px;
	padding: 25px 100px ;
	margin-top: -80px;
	z-index: 3;
}

.img{
	background-image: url(../Images/Riven.jpg);
	height: 500px;
	margin-top: 80px;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	border-bottom: 3px solid rgb(44, 206, 117);
	display: block;
}


.logo{
	width: 50px;
	height: 50px;
	background-image: url(../Images/Noxus.png);
	background-position: center;
	background-size: cover;
	position: fixed;
	margin-top: -65px;
	margin-left: 20px;
	transition-duration: 0.3s;
	z-index: 4;
}

.logo:hover{
	width: 60px;
	height: 60px;
	margin-top: -70px;
	margin-left: 15px;
	transition-duration: 0.3s;
}

.h{
	background-color: black;
	color: white;
	border: 3px solid rgb(44, 206, 117);
	font-size: 25px;
	height: 50px;
	width: 20%;
	margin-top: -25px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: auto;
	transition-duration: 0.5s;
	position: absolute;
	right:2%;
}

.h:hover{
	width: 22%;
	height: 60px;
	margin-top: -30px;
	box-shadow: 3px 3px 5px rgb(0, 0, 0, 0.7);
	transition-duration: 0.5s;
}

.text{
	margin: 50px 15%;
	font-size: 17px;
	line-height: 20px;
	display: block;
}

.img1{
	background-image: url(../Images/Riven1.jpg);
	height: 500px;
	margin-top: 50px;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	border-bottom: 3px solid rgb(44, 206, 117);
	border-top: 3px solid rgb(44, 206, 117);
	display: block;
}

.h1{
	background-color: black;
	color: white;
	border: 3px solid rgb(44, 206, 117);
	font-size: 25px;
	height: 50px;
	width: 20%;
	margin-top: -25px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: auto;
	transition-duration: 0.5s;
	position: absolute;
	left:2%;
}

.h1:hover{
	width: 22%;
	height: 60px;
	margin-top: -30px;
	box-shadow: 3px 3px 5px rgb(0, 0, 0, 0.7);
	transition-duration: 0.5s;
}

.img2{
	background-image: url(../Images/Riven2.png);
	height: 500px;
	margin-top: 50px;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	border-bottom: 3px solid rgb(44, 206, 117);
	border-top: 3px solid rgb(44, 206, 117);
	display: block;
}

.img3{
	background-image: url(../Images/Riven3.png);
	height: 500px;
	margin-top: 50px;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	border-bottom: 3px solid rgb(44, 206, 117);
	border-top: 3px solid rgb(44, 206, 117);
	display: block;
}

.img4{
	background-image: url(../Images/Riven4.jpg);
	height: 500px;
	margin-top: 50px;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	border-bottom: 3px solid rgb(44, 206, 117);
	border-top: 3px solid rgb(44, 206, 117);
	display: block;	
}




